{#
/**
 * @file
 * Theme override to display a Design system menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * Sample output:
 * <div class="navbar-controls">
 *   <a class="navbar-brand" href="#">Design system</a>
 *   <button class="navbar-toggler collapsed" ...><span class="navbar-toggler-icon"></span></button>
 * </div>
 * <ul id="design-system--2" class="navbar-nav has-active-trail">
 *   <li class="nav-item is-not-active-trail"><a class="nav-link">Foo</a></li>
 *   <li class="nav-item is-active-trail">
 *     <a class="nav-link">Bar</a>
 *     <ul>
 *       <li class="nav=item is-active-trail"><a class="nav-link">Baz</a></li>
 *       <li class="nav=item is-not-active-trail"><a class="nav-link">Qux</a></li>
 *     </ul>
 *   </li>
 *   <li class="nav-item is-not-active-trail"><a class="nav-link">Tar</a></li>
 * </ul>
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
      {% set top_ul_class = ['navbar-nav', 'navbar-collapse', 'collapse'] %}
      {% set navbar_brand_title = 'Menu' %}
      {% set navbar_brand_path = '#' %}

      {% for item in items if item.in_active_trail %}
        {% set top_ul_class = top_ul_class|merge(['has-active-trail']) %}
        {% set navbar_brand_title = item.title %}
        {% set navbar_brand_path = item.url %}
      {% endfor %}

      <div class="navbar-controls">
        <a class="navbar-brand" href="{{ navbar_brand_path }}">{{ navbar_brand_title|t }}</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#{{ attributes.id }}" aria-controls="#{{ attributes.id }}" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <ul{{ attributes.addClass(top_ul_class) }}>
    {% else %}
      <ul>
    {% endif %}

    {% for item in items %}
      {%
        set menu_item_classes = [
            'nav-item',
            item.in_active_trail ? 'is-active-trail' : 'is-not-active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(menu_item_classes) }}>
        {%
          set link_attr = {
            'class': [
              'nav-link',
            ]
          }
        %}
        {{ link(item.title, item.url, link_attr) }}

        {% if menu_level == 0 and item.below and item.in_active_trail %}
          {# Only expand a top level menu item when it is in the active trail. #}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% elseif menu_level > 0 and item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}
