{#
/**
 * @file
 * Default theme implementation for webform submission data.
 *
 * Available variables:
 * - webform_submission: The webform submission.
 * - webform: The webform.
 *
 * @see template_preprocess_webform_submission_data()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'webform-submission-data',
    'webform-submission-data--webform-' ~ webform.id()|clean_class,
    view_mode ? 'webform-submission-data--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div{{attributes.addClass(classes)}}>
	{% if webform.settings['preview_message']%}
		<div>
			<h3>{{ webform.settings['preview_message'] }}</h3>
		</div>
	{% endif %}
	{% if elements.data %}
		<dl class="cds-summary-list">
			{% for page_key,page_value in elements.data %}
				<div class="cds-summary-list__row">
					{# The first column in the summary table #}
					{# Page label #}
					{# Question label #}
					<dt class="cds-summary-list__key">
						{% if elements.data[page_key]['#summary']['value'] is iterable  %}

							{# Form elements that are in a fieldset #}
							{% for key, value in elements.data[page_key]['#summary']['value'] %}
								{{ elements.data[page_key]['#summary']['page_title'] }} </br>
								{{ elements.data[page_key]['#summary']['value'][key]['label'] }}</br>
							{% endfor %}

						{% endif %}
					</dt>
					{# The second collumn in the summary table #}
					{# Value column #}
					<dd class="cds-summary-list__value">
						{% if elements.data[page_key]['#summary']['value'] is iterable  %}
							{# Form elements that are in a fieldset #}
							{% for key, value in elements.data[page_key]['#summary']['value'] %}
								{% if elements.data[page_key]['#summary']['value'][key]['value']['#type'] == 'fieldset' %}
									{# Fieldset label #}
									{% for fieldset_key, fieldset_value in elements.data[page_key]['#summary']['value'][key]['value']['#children'] %}
										{# Fieldset element label #}
										{{ elements.data[page_key]['#summary']['value'][key]['value']['#children'][fieldset_key]['#element']['#title'] }}</br>
										{# Fieldset element value #}
										{{ elements.data[page_key]['#summary']['value'][key]['value']['#children'][fieldset_key]['#value'] }} </br>
									{% endfor %}
								{% else %}
									{# Form element values that are not in a fieldset #}
									{{ elements.data[page_key]['#summary']['value'][key]['value'] }} </br>
								{% endif %}
							{% endfor %}
						{% endif %}
					</dd>
					{# The third column in the summary table #}
					{# The 'Edit' link #}
					<dd class="cds-summary-list__actions">
						{{ elements.data[page_key]['#summary']['wizard_page_link'] }}
					</dd>

				</div>

			{% endfor %}
		</dl>
	{% endif %}

</div>

