{#
/**
 * @file
 * Default theme implementation for webform email wrapper template as HTML.
 *
 * Available variables:
 * - message: The email message which contains to, from, subject, message, etc…
 * - webform_submission: The webform submission.
 * - handler: The webform handler.
 *
 * @ingroup themeable
 */
#}
<html>
	<head>
		<title>{{ subject }}</title>
	</head>
	<body>
		<div id="header" style="background-color: #880088; padding: 10px 0px 0px 10px;">
			<div id="container" style="padding-left:50px">
				<img src="web/themes/contrib/localgov_base_croydon/logo.png" alt="{{ 'Croydon Council Forms Site Logo'|t }}" width="154px" height="56px">
			</div>
		</div>
		<div id="body" style="padding-left:50px">
			{# {{ body|raw }} #}
            {{ message.body }}
		</div>
		<div id="footer" style="padding-left:50px"></div>
	</body>
</html>
{# {{ message.body }} #}
